@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500&display=swap');


*{
    font-family: 'Maven Pro', sans-serif;
}
body{
    background-color: rgba(0,0,0,0.785);
}

#s1_header{
    background-color : 1e1109;
    background-image: url("/images/interface-imgs/s1-header-lg-center.jpg");
    height:100vh;
    background-size:cover;
    background-position: center bottom;
    background-repeat: no-repeat;

}
 @media only screen and (max-width:820px){
    #s1_header h1{
        
            font-size: 1.5rem;
           
        
    };  
 }


#s2_trio{
    background-color :  fefaf7;
}

.myGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }



@media (max-width:768px){
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap:10px;

    }
    .subGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap:15px;

    }
}
@media (max-width:576px){
    .myGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
     
    }
    .subGrid{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap:10px;
}
}

/* about section */
.s4_aboutGrid{
    /* display: grid; */
    /* grid-template-columns: repeat(3,  1fr); */
    /* grid-template-rows: repeat(3,    auto); */
    /* grid-gap:10px; */
    /* grid-template-areas:  */
    /* "img-selfpotrait img-selfpotrait img-selfpotrait" */
    /* "hd-about hd-about hd-about" */
    /* "txt-about txt-about txt-about" */
    ;

}
.img-selfpotrait{
    /* grid-area:img-selfpotrait; */
    /* grid-column: 2 / 3; */
}
.hd-about{
    /* grid-area:hd-about; */
    /* text-align: center; */
}
.txt-about{
    /* grid: txt-about; */
    /* line-height: 2; */
}
@media (max-width:768px){
    .s4_aboutGrid{
    /* grid-template-areas:  */
        /* "img-selfpotrait img-selfpotrait img-selfpotrait" */
        /* "hd-about hd-about hd-about" */
        /* "txt-about txt-about txt-about" */
    ;

    }
    .img-selfpotrait{
        
        /* grid-column: 1/ 2 ; */
    }
    .hd-about{
        
        /* text-align: left; */
        /* padding-left: 20px; */
    }
    .txt-about{
        /* padding-left: 20px; */
    }

}



#s3_painting_of_the_week{
    background-color : 26221f;

}
#s4_about{
    background-color : f0e9d7;

}
#s5_prints{
    background-color :  fefaf7;

}
#s6_paintings{
    background-color : 414046;

}
#s7_drawings{
    background-color :f0e9d7;

}
#s8_contact{
    background-color : 1e1109;

}
#s9_footer{
    background-color : fefaf7;

}
#s10_copyright{
    background-color : 414046;
   


}
/* s1 header */
#s1_header{
    background-image: url("images/interface-imgs/s1-header-lg-center.jpg");
    height:100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/* s6_paintings */
.painting-1{
    background: url("/images/paintings-img/1920px-P1150002_Cognacq-Jay_Rembrandt_anesse_de_Balaam_rwk.jpg");

}
.painting-2{

    background: url("/images/paintings-img/1920px-Rembrandt_-_Rembrandt_and_Saskia_in_the_Scene_of_the_Prodigal_Son_-_Google_Art_Project.jpg");
}
.painting-3{
    background: url("/images/paintings-img/1920px-Rembrandt_van_Rijn_-_Portrait_of_Willem_Burchgraeff_-_O_854_-_Slovak_National_Gallery.jpg");
}
.painting-4{
    background: url("/images/paintings-img/1920px-Rembrandt_van_Rijn_198.jpg");
}
.painting-5{
    background: url("/images/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Old_Man_with_a_Gold_Chain_-_Google_Art_Project.jpg");
}
.painting-6{
    background: url("/images/paintings-img/2560px-Rembrandt_Harmensz._van_Rijn_-_Zelfportret_op_jeugdige_leeftijd_-_Google_Art_Project.jpg");
}
.painting-7{
    background: url("/images/paintings-img/2880px-Rembrandt_The_Artist_in_his_studio.jpg");
}
.painting-8{
    background: url("/images/paintings-img/Rembrandt-SMELL.jpg");
}
.painting-9{
    background: url("/images/paintings-img/Rembrandt_-_Portrait_of_a_Woman_with_Gloves_-_NGI.808.jpg");
}
.painting-10{
    background: url("images/paintings-img/Rembrandt_van_Rijn_197.jpg");
}

